 body {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 32px;
}

#boardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#boardContainer div {
  padding: 32px;
}

.left-col, .middle-col {
  border-right: 1px solid black;
}

.right-col, .middle-col {
  border-left: 1px solid black;
}

.top-row, .middle-row {
  border-bottom: 1px solid black;
}

.bottom-row, .middle-row {
  border-top: 1px solid black;
}